.account-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 140px;

    .content-wrapper {
        display: flex;
        align-items: center;
        width: 70%;
        height: 220px;

        .logout {
            @include light-header-styles;
            font-size: 11px;
            padding-bottom: 20px;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover {
                color: $dark-gray;
            }
        }

        h3 {
            @include dark-header-styles;
            letter-spacing: 3px;
            font-weight: 500;
        }

        .welcome {
            @include dark-subheader-styles;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }

    .orders-addresses-wrapper {
        width: 70%;
        display: grid;
        grid-template-columns: 2.7fr 1fr;

        .header {
            border-bottom: 1px solid $border-color;
            @include light-header-styles;
            padding-bottom: 15px;
            font-size: 12px;
            margin-bottom: 40px;
        }

        .subheader {
            @include dark-subheader-styles;
            margin-bottom: 40px;
        }

        .for-space {
            margin-left: 70px;
        }

        button {
            @include main-button;
            width: 225px;
        }
    }
}