.form-wrapper {
    @include center-flex;
    height: 100vh;

    .content-wrapper {
        height: 300px;
        width: 500px;
        @include center-vertical-flex;

        .header {
            @include dark-header-styles;
            font-size: 22px;
            letter-spacing: 4px;
            font-weight: 500;
        }

        .subheader {
            @include dark-subheader-styles;
            padding: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
        }



        input {
            @include input-styles;
            width: 350px;
            margin-bottom: 20px;
        }

        button {
            @include main-button;
            width: 382px;
            margin-bottom: 30px;
        }

        .register-wrapper {
            @include dark-subheader-styles;
            display: flex;

            .account {
                color: $light-gray;
                padding-right: 6px;
            }
            a {
                @include link-dark-to-light;
            }
        }
    }
}