body {
  margin: 0px;
}

.navbar {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #454545;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  font-weight: 500;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.55fr 1fr 1fr;
      grid-template-columns: 1.55fr 1fr 1fr;
  padding: 0px 30px 0px 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid #dddddd;
}

.navbar .navbar-element {
  padding-right: 25px;
}

.navbar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .center img {
  height: 20px;
}

.navbar a {
  color: #3d3d3d;
}

.navbar i {
  color: #3d3d3d;
  font-size: 18px;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.form-wrapper .content-wrapper {
  height: 300px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-wrapper .content-wrapper .header {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #454545;
  font-family: "Spartan", sans-serif;
  font-size: 22px;
  letter-spacing: 4px;
  font-weight: 500;
}

.form-wrapper .content-wrapper .subheader {
  color: #454545;
  font-size: 14px;
  font-family: "Domine", serif;
  padding: 30px;
}

.form-wrapper .content-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .content-wrapper input {
  border: 1px solid #d3d3d3;
  padding: 12px 15px;
  font-size: 15px;
  font-family: "Domine", serif;
  width: 350px;
  margin-bottom: 20px;
}

.form-wrapper .content-wrapper input::-webkit-input-placeholder {
  color: #b5b5b5;
}

.form-wrapper .content-wrapper input:-ms-input-placeholder {
  color: #b5b5b5;
}

.form-wrapper .content-wrapper input::-ms-input-placeholder {
  color: #b5b5b5;
}

.form-wrapper .content-wrapper input::placeholder {
  color: #b5b5b5;
}

.form-wrapper .content-wrapper input:focus {
  border: 1px solid #7f7f7f;
  outline: none;
}

.form-wrapper .content-wrapper button {
  text-transform: uppercase;
  color: white;
  background-color: #C3A284;
  font-family: "Spartan", sans-serif;
  border: none;
  padding: 18px 0px 14px 0px;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 382px;
  margin-bottom: 30px;
}

.form-wrapper .content-wrapper button:hover {
  background-color: #a5886f;
}

.form-wrapper .content-wrapper .register-wrapper {
  color: #454545;
  font-size: 14px;
  font-family: "Domine", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-wrapper .content-wrapper .register-wrapper .account {
  color: #9d9d9d;
  padding-right: 6px;
}

.form-wrapper .content-wrapper .register-wrapper a {
  text-decoration: none;
  color: #454545;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.form-wrapper .content-wrapper .register-wrapper a:hover {
  color: #9d9d9d;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 80px 50px 80px;
  height: 360px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #dddddd;
}

.footer-wrapper .footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.4fr 2fr 1.1fr .7fr;
      grid-template-columns: 2.4fr 2fr 1.1fr .7fr;
}

.footer-wrapper .footer-content .mission {
  width: 400px;
  padding-bottom: 50px;
}

.footer-wrapper .footer-content .mission .social-media-wrapper {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
}

.footer-wrapper .footer-content .mission .social-media-wrapper i {
  color: #9d9d9d;
  font-size: 15px;
}

.footer-wrapper .footer-content .subscribe {
  width: 265px;
  padding: 0px 50px 50px 0px;
}

.footer-wrapper .footer-content .subscribe input {
  border: 1px solid #d3d3d3;
  padding: 12px 15px;
  font-size: 15px;
  font-family: "Domine", serif;
  width: 250px;
  margin: 20px 0px;
}

.footer-wrapper .footer-content .subscribe input::-webkit-input-placeholder {
  color: #b5b5b5;
}

.footer-wrapper .footer-content .subscribe input:-ms-input-placeholder {
  color: #b5b5b5;
}

.footer-wrapper .footer-content .subscribe input::-ms-input-placeholder {
  color: #b5b5b5;
}

.footer-wrapper .footer-content .subscribe input::placeholder {
  color: #b5b5b5;
}

.footer-wrapper .footer-content .subscribe input:focus {
  border: 1px solid #7f7f7f;
  outline: none;
}

.footer-wrapper .footer-content .subscribe button {
  text-transform: uppercase;
  color: white;
  background-color: #C3A284;
  font-family: "Spartan", sans-serif;
  border: none;
  padding: 18px 0px 14px 0px;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
}

.footer-wrapper .footer-content .subscribe button:hover {
  background-color: #a5886f;
}

.footer-wrapper .footer-content .header {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #454545;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  padding-bottom: 25px;
}

.footer-wrapper .footer-content .subheader {
  color: #9d9d9d;
  font-size: 14px;
  font-family: "Domine", serif;
  line-height: 28px;
}

.footer-wrapper .footer-content .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
}

.footer-wrapper .footer-content .categories .category {
  text-decoration: none;
  color: #9d9d9d;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer-wrapper .footer-content .categories .category:hover {
  color: #454545;
}

.footer-wrapper .copyright {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #454545;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 11px;
}

@media (max-width: 1160px) {
  .footer-wrapper .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-wrapper .footer-content .for-media {
    padding-right: 200px;
  }
  .footer-wrapper .footer-content .more {
    width: 200px;
  }
}

@media (max-width: 860px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content .for-media {
    padding-bottom: 50px;
  }
}

.account-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 140px;
}

.account-wrapper .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 220px;
}

.account-wrapper .content-wrapper .logout {
  text-transform: uppercase;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  color: #9d9d9d;
  letter-spacing: 2px;
  font-size: 11px;
  padding-bottom: 20px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.account-wrapper .content-wrapper .logout:hover {
  color: #454545;
}

.account-wrapper .content-wrapper h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #454545;
  font-family: "Spartan", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
}

.account-wrapper .content-wrapper .welcome {
  color: #454545;
  font-size: 14px;
  font-family: "Domine", serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.account-wrapper .orders-addresses-wrapper {
  width: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.7fr 1fr;
      grid-template-columns: 2.7fr 1fr;
}

.account-wrapper .orders-addresses-wrapper .header {
  border-bottom: 1px solid #dddddd;
  text-transform: uppercase;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  color: #9d9d9d;
  letter-spacing: 2px;
  padding-bottom: 15px;
  font-size: 12px;
  margin-bottom: 40px;
}

.account-wrapper .orders-addresses-wrapper .subheader {
  color: #454545;
  font-size: 14px;
  font-family: "Domine", serif;
  margin-bottom: 40px;
}

.account-wrapper .orders-addresses-wrapper .for-space {
  margin-left: 70px;
}

.account-wrapper .orders-addresses-wrapper button {
  text-transform: uppercase;
  color: white;
  background-color: #C3A284;
  font-family: "Spartan", sans-serif;
  border: none;
  padding: 18px 0px 14px 0px;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
}

.account-wrapper .orders-addresses-wrapper button:hover {
  background-color: #a5886f;
}

.side-cart {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  z-index: 200;
  -webkit-box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.side-cart.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  top: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
/*# sourceMappingURL=main.css.map */