.navbar {
    @include dark-header-styles;
    font-size: 12px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1.55fr 1fr 1fr;
    padding: 0px 30px 0px 55px;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid $border-color;

    .navbar-element {
        padding-right: 25px;
    }

    .left {
        display: flex;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .center img {
        height: 20px;
    }

    a {
        color: $icon-color;
    }
    i {
        color: $icon-color;
        font-size: 18px;
    }
}