// COLORS
$accent-color: #C3A284;
$icon-color: #3d3d3d;
$dark-gray: #454545;
$light-gray: #9d9d9d;
$border-color: #dddddd;

// FONTS
$header-font: 'Spartan', sans-serif;
$subheader-font:'Domine', serif;